// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

@layer base, theme, components, utilities;

html {
  color-scheme: light;
  @include mat.theme((
    color: mat.$orange-palette,
    typography: Roboto,
    density: 0
  ));
}
